{% extends 'base.html.twig' %}
{% block title %}SKLZ Media{% endblock %}
{% block stylesheets %}
	<!-- Theme CSS -->
    <link href="{{asset('resources/css/creative-whyus.css')}}" rel="stylesheet">
{% endblock %}



{% block header %}

	<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" class="text-responsive white title">Go with SKLZ. Be Happy</h1>
				<h3 class="subtitle-main white">Grow faster than others with a task-based performing agency.</h3>               
                
                <a href="getstarted.php" class="btn btn-primary btn-main btn-xl page-scroll">Get started <em><span class="lower-case">for</span></em> free</a>
            </div>			
        </div>		
    </header>

{% endblock %}

{% block pageid 'why-us' %}    	
	
{% block body %}	
	
	<section class="bg-primary-white" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
					<h4 class="tag-subtitle opacity-70">Why us</h4>
                    <h2 class="section-heading subtitle">Deliver more project.</h2>
                    <h2 class="section-heading subtitle">Friendly and faster than ever...</h2>
					<p class="text-responsive">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit dui, elementum eu commodo ut, volutpat ut magna. Mauris consequat urna eget quam gravida, ac interdum tortor dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus diam velit, vulputate aliquam risus sit amet, feugiat aliquet ipsum.</p>
                    
					
						
					<div id="contenedor-cajas" class="contenedor-cajas">			
						
												
					
						<div id="1" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
							<div class="row-card  centrar-flex">
								<img class="icon" src="{{asset('resources/img/ICON_scaleyourteam-why-us.png')}}">
								<h3 class="opacity-70 cards-items">CEO love it <br>because it scales.</h3>
								<p class="opacity-60">Be in control of your information by setting policies in real-time knowing your personal or company information</p>
							</div>	
						</div>
						
						<div id="2" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
							<div class="row-card  centrar-flex">
								<img class="icon" src="{{asset('resources/img/icon_b2bpartner.png')}}">
								<h3 class="opacity-70 cards-items">CEO love it <br>because it scales.</h3>
								<p class="opacity-60">Be in control of your information by setting policies in real-time knowing your personal or company information</p>
							</div>	
						</div>
						
						<div id="3" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
							<div class="row-card  centrar-flex">
								<img class="icon" src="{{asset('resources/img/icon_deadline.png')}}">
								<h3 class="opacity-70 cards-items">CEO love it <br>because it scales.</h3>
								<p class="opacity-60">Be in control of your information by setting policies in real-time knowing your personal or company information</p>
							</div>	
						</div>
						
					
                    </div>
					
                    
					
                    
                </div>
            </div>
        </div>
    </section>
	
	
	
	<section class="section-technologies text-center">
	
        <div class="container text-center">

			<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center text-center-contenido">
					
                    <h4 class="tag-subtitle opacity-70 white">Wall of love</h4>
                    <h2 class="section-heading">What agencies are saying.</h2> 
					<div class="centrar">
						<p class="white phrase">"Your affordability calculator saved me some serious time to focus on what I can actually buy."</p>
					</div>	
					<img class="icon-google" src="{{asset('resources/img/logo-google.png')}}">
                    
                    
                </div>
            </div>
			
				
			
        </div>
	</section>	
    
	
	
	<section class="across-the-globe text-center" id="">
        <div class="container">
            <div class="row text-center">

				
				<div class="col-lg-8 col-lg-offset-2 content text-center">
					
					<h2 class="">1000+ <span class="italic">Customers</span> Across <span class="italic">the</span> Globe</h2>
					<h4 class="opacity-70 light">Our customers span across the world in around 30 different countries</h4>	
                    
                </div>
				

            </div>
        </div>
    </section>	
	
	
	
	<section id="services" class="story-together">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">This could be the beginning of our<br>bautiful story together.</h2>
                    <a href="getstarted.html" class="btn btn-primary btn-xl page-scroll">Go with SKLZ</a>
					<h5 class="section-heading">More agencies love working with us</h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
				<div class="row-content">
					
					<div class="col-sm-3 col-xs-6 text-center">
						<div class="service-box">
							<img src="{{asset('resources/img/logo-google.png')}}" >							
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 text-center">
						<div class="service-box">
							<img src="{{asset('resources/img/logo-github.png')}}" >
						</div>
					</div>
					<div class="col-sm-3  col-xs-6 text-center">
						<div class="service-box">
							<img src="{{asset('resources/img/logo-airbnb.png')}}" >
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 text-center">
						<div class="service-box">
							<img src="{{asset('resources/img/logo-flickr.png')}}" >
						</div>
					</div>               
					
					
					
						
                </div>
            </div>
        </div>
	</section>

{% endblock %}
{% block footer %}
	{{parent()}}
{% endblock %}

{% block javascripts %}
{% endblock %}
